/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,400,700);

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #222;
  background-color: #556b2f;
 }

.reveal {
  font-family: "Roboto Condensed";
  font-size: 1.2em;
  font-weight: normal;
  color: #000;
  }

::selection {
  color: #fff;
  background: #556b2f;
  text-shadow: none; }
  
  ::-moz-selection {
  color: #fff;
  background: #556b2f;
  text-shadow: none; }
  
.reveal .slides > section {
	background: #222;
	background-color: #fff;
	padding: 5%;
	margin-right: 1em;
	height: 75%;
	/*line-height: 1.3;*/
	font-weight: inherit;
	text-align: left;
	 }
 
 .reveal .slides > section > section {
background: #222;
  background-color: #ddd; 
  height: 75%;
  width: 90%;
  line-height: 1.3;
  font-weight: inherit;
  text-align: left;
 }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "Roboto Condensed" ;
  letter-spacing: normal;
  text-shadow: none;
  word-wrap: break-word;
    text-align: center;
 }

.reveal h1 {
  font-size: 2.5em;
  margin: 0 0 .5em 0;
  color: #000;
  text-transform: uppercase; 
 }

.reveal h2 {
  font-size: 1.0em;
    margin: .5em .5em .5em .5em;
	line-height: 1.5em;
    text-transform: uppercase;
    color: #111;
 }

.reveal h3 {
 margin: .5em .5em .5em .5em;
 font-size: 1.5em; 
 color: #000;
  text-align: center;
}

.reveal h4 {
  font-size: 1.0em;
  text-align: left; }
  
  .reveal h5 {
  font-size: 0.75em;
  text-align:left;
   }
   
 /*  .reveal h6 {
	font-size: 1em;
	display: block;
  position: relative;
  width: 50%;
  margin: 20px auto;
  padding: 1em;
  font-style: normal;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); } */



/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 1em .5em 1em 0;
  line-height: inherit;
  }
  
 .reveal p.pico {
  font-size: 1em;
  display: block;
  position: relative;
  width: 70%;
  line-height: 1.25em;
  margin: .25em auto;
  padding: .75em;
  font-style: normal;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }
  
  .reveal p.ebp {
  font-size: 1em;
  display: block;
  position: relative;
  width: 90%;
  line-height: 1.2em;
  margin: 1em auto;
  padding: 1em;
  font-style: normal;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); }
  
  .reveal p.credits {
  font-size: .75em;
  display: block;
  position: relative;
  width: 50%;
  margin: 5% auto;
  padding: 1.5em;
  font-style: normal;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }
  
   .reveal p.toc {
  font-size: 1.2em;
  line-height: 1.5em;
  display: block;
  position: relative;
  width: 90%;
  margin: 5% auto;
  padding: 1em;
  font-style: normal;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }
	  

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video, {
  max-width: 99%;
  max-height: 99%;
   }
   
   .reveal iframe {
  max-width: 110%;
  max-height: 110%;
   }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  line-height: 1.25em;
  text-align: left;
  margin-left: 10%;
  margin-top: .25em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
	list-style-type: disc;
   }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 1em;
  font-style: normal;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }
/*
.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }
*/
.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }


/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  text-decoration: underline; 
  color: #000;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
	text-decoration: underline;
  color: #616365;
  text-shadow: none;
  border: none; }
/*
.reveal .roll span:after {
  color: #fff;
  background: #068de9; }*/
 

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 1em 1.5em 1em 1.5em;
 background: inherit;
  border: 1px solid #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #42affa;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #fff; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #fff; }



.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #000; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #000; }



/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: #fff;
  height: 2.5%; }

.reveal .progress span {
  background: #000;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
